%p
  %b Name:
  =h @app.name 

%p
  %b Wait wav:
  =h @app.wait_wav 

%p
  %b App human:
  =h @app.app_human 

%p
  %b App machine:
  =h @app.app_machine 

%p
  %b App beep:
  =h @app.app_beep 

%p
  %b Start URL (with token):
  =h @app.start_url
  
%p 
  %b Cals Per Minute
  =h @app.calls_per_minute
  
= link_to 'Edit', edit_app_path(@app)
= link_to 'Back', apps_path