%p
  %b Start Time:
  =h "#{@schedule.start} (#{distance_of_time_in_words(Time.now, @schedule.start)})"
%p
  %b Tags:
  =h @schedule.tags.nil? ? "Sent to all contacts" : @schedule.tags 
%p
  %b Application:
  =h @schedule.app.name


= link_to 'Edit', edit_schedule_path(@schedule)
= link_to 'Back', schedules_path