%p
  %b Version:
  =h @option.version 

%p
  %b Mock:
  =h @option.mock 

%p
  %b Debug level:
  =h @option.debug_level 

%p
  %b Admin name:
  =h @option.admin_name 

%p
  %b Admin email:
  =h @option.admin_email 

%p
  %b Admin phone:
  =h @option.admin_phone 

%p
  %b Support URL:
  =h @option.support_url 

%p
  %b Daily summary:
  =h @option.daily_summary 


= link_to 'Edit', edit_option_path(@option)
