/* @override 
	http://localhost:3000/stylesheets/ad.css?1216838764
	http://localhost:3000/stylesheets/ad.css?1216907921
	http://localhost:3000/stylesheets/ad.css?1216908701
*/

a {
	font: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 18px;
	margin-right: 6px;
}

text_fields {
	background-color: #8ed1ff;
	width: 30%;
	border-style: solid;
	border-width: 1px;
	display: block;
}

#container table tbody tr td a {
	font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
}

#menu_box {
	background-color: #fbfebd;
	height: auto;
	width: auto;
}

tr {
	border: 1px solid gray;
}

tbody {
	border: 1px solid gray;
}

td {
	text-align: center;
}

th {
	font: 16px "Lucida Grande", Lucida, Verdana, sans-serif;
	border: 2px solid gray;
	width: 100px;
}

body {
	font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
}